* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #212121;
}

/*Success and error*/
.error {
	color: #9e1715;
}

.success {
	color: green;
}

div.clear {
	clear: both;
}

a:link, a:visited {
	color: #9e1715;
	text-decoration: none;
}

a:hover, a:visited:hover {
	text-decoration: underline;
}

input[type="text"], input[type="password"] {
	width: 50%;
}

div#login, div#register {
	width: 470px;
	border: 1px solid coral;
	position: absolute;
	background-color: #f2f2f2;
	border: 1px solid #e0e0e0;
}

div#login header.section-title, div#register header.section-title {
	padding: 10px 0 10px 10px;
}

div#login table, div#register table {
	margin: 0 10px 5px 10px;
	width: 450px;
}

div#login table td, div#register table td, div#upload-csv table td, div#change-pass table td, div#add-group table td, div#edit-group table td, div#edit-student table td {
	padding: 6px;
}

input#edit-student-button {
	margin-right: 5px;
}

td.info {
	text-align: center;
	display: none;
}

td.param {
	width: 50%;
	text-align: right;
}

td.value {
	width: 50%;
}

div.top-bar {
	height: 37px;
	width: 100%;
	background-color: #b13429;
	color: white;
}

header.page-title {
	width: 255px;
	height: 32px;
	text-indent: 255px;
	overflow: hidden;
	white-space: nowrap;
	float: left;
	font-size: 1.2em;
	background: url("./../images/logo.png") no-repeat;
	margin: 5px 0 0 10px;
}

div.top-bar div.tools {
	float: right;
	text-align: right;
	font-size: 0.9em;
	height: 100%;
}

div.top-bar div.tools div.info {
	height: 100%;
	border-left: 1px solid white;
	padding: 5px 10px 0 10px;
}

div.top-bar div.tools div.info a {
	color: white;
}

/*Layout*/

div.left-col {
	margin: 30px 0 0 10px;
	width: 260px;
	float: left;
	border-right: 1px solid #3b73f3;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

div.middle-col {
	margin: 30px 0 0 0;
	float: left;
	/*overflow-x: hidden;*/
	overflow-y: auto;
	border-right: 1px solid #3b73f3;
}

div.right-col {
	margin: 30px 0 0 0;
	padding: 0;
	width: 260px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
}

header.section-title {
	font-size: 1.2em;
	color: #1154cc;
	margin-bottom: 10px;
}

header.section-title.success {
	color: green;
}

header.section-title.error {
	color: #9e1715;
}

ul#courses header {
	cursor: pointer;
	display: inline;
}

ul#courses ul {
	margin-top: 4px;
}

ul#courses li {
	margin-bottom: 7px;
	list-style-position: inside;
	list-style-image: url('./../images/list_closed.png');
}

ul#courses li.active {
	list-style-image: url('./../images/list_opened.png');
}

ul#courses li.active header {
	color: #9e1715;
}

ul#courses li ul li {
	margin-bottom: 4px;
	list-style-type: none;
	list-style-image: none;
	padding-left: 30px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: inline-block;
	height: 12px;
	padding-left: 16px;
	background: url('./../images/list_uncheck.png') left center no-repeat;
	cursor: pointer;
}

input[type="checkbox"]:checked + label {
	background-image: url('./../images/list_check.png');
	cursor: pointer;
}

div.left-col div.tools {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

a#import-csv-button {
	width: 74px;
	height: 24px;
	display: block;
	text-indent: 74px;
	white-space: nowrap;
	overflow: hidden;
	background-image: url('./../images/import_csv.png');
}

div#lightbox {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
}

div#lightbox div.bg {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('./../images/lightbox_background.png') repeat;
	z-index: 100;
}

/*Import CSV*/
/*div#upload-csv {
	width: 330px;
}*/

div#upload-csv table {
	width: 100%;
}

/*Change password*/
div#change-pass {
	width: 300px;
}

div#change-pass table {
	width: 100%;
}

.dialog {
	z-index: 101;
	display: none;
	position: absolute;
	background-color: #f2f2f2;
	border: 1px solid #e0e0e0;
	padding: 10px;
}

/*Grupy projektowe*/

header.course-date-header {
	height: 28px;
	padding-left: 20px;
	border-bottom: 1px solid #3b73f3;
	margin: 15px 0;
	line-height: 26px;
}

header.course-date-header .tools {
	float: right;
	height: 100%;
}

header.course-date-header .tools a.add-group-button {
	display: block;
	text-indent: 24px;
	height: 24px;
	width: 24px;
	overflow: hidden;
	white-space: nowrap;
	background: url('./../images/add.png');
	margin-right: 5px;
	float: right;
}

/*Eksport CSV*/
header.course-date-header .tools a.export-csv-button {
	display: block();
	text-indent: 74px;
	height: 24px;
	width: 74px;
	overflow: hidden;
	white-space: nowrap;
	background: url('./../images/export_csv.png');
	margin-right: 5px;
	float: right;
}

header.course-date-header .tools a.remove-date-button {
	display: block;
	text-indent: 24px;
	height: 24px;
	width: 24px;
	overflow: hidden;
	white-space: nowrap;
	background: url('./../images/remove.png');
	margin-right: 5px;
	float: right;
}

/*Input declarations*/
input[type="text"], input[type="password"], textarea {
	outline-width: 0;
	border: 1px solid #e0e0e0;
	padding: 1px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	outline-width: 0;
	border: 1px solid #3b73f3;
	padding: 1px;
}

div.middle-col header.section-title {
	margin-left: 20px;
}

div.group {
	width: 100%;
	margin-bottom: 15px;
}

div.group header {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	background-color: #f2f2f2;
	padding: 7px 13px 7px 20px;
	/*cursor: pointer;*/
}

div.group header div.tools {
	float: right;
	height: 100%;
}

div.group header div.tools a.more {
	height: 100%;
	float: right;
	display: block;
	width: 9px;
	text-indent: 9px;
	overflow: hidden;
	white-space: nowrap;
	background: url('./../images/list_closed.png') left center no-repeat;
}

div.group header div.tools a.edit-group {
	height: 100%;
	float: right;
	display: block;
	width: 13px;
	height: 13px;
	text-indent: 13px;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 10px;
	background: url('./../images/edit_small.png') left center no-repeat;
}

div.group header div.tools a.remove-group {
	height: 100%;
	float: right;
	display: block;
	width: 9px;
	height: 13px;
	text-indent: 9px;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 10px;
	background: url('./../images/remove_small.png') left center no-repeat;
}

div.group.active header div.tools a.more {
	background: url('./../images/list_opened.png') left center no-repeat;
}

div.group div.details {
	background-color: #f2f2f2;
	border-bottom: 1px solid #e0e0e0;
}

div.group div.student-info {
	padding: 7px 20px;
	overflow: auto;
}

div.group div.notes {
	background-color: #f2f2f2;
	border-top: 1px solid #e0e0e0;
	padding: 7px 20px;
	overflow: auto;
}

div.group div.notes div.note {
	padding: 5px 0;
}

div.notes a.add-note {
	display: block;
	overflow: hidden;
	text-indent: 21px;
	height: 19px;
	width: 21px;
	background: url('./../images/add_note.png') no-repeat;
	white-space: nowrap;
}

div.group div.details .students tr.header {
	font-weight: bold;
}

div.group div.details .students tr.header td.add-meeting a {
	display: block;
	overflow: hidden;
	text-indent: 23px;
	height: 19px;
	width: 23px;
	background: url('./../images/add_meeting.png') no-repeat;
	white-space: nowrap;
}

div.group div.details .students tr.student.manager .name a.edit-student {
	font-weight: bold;
}

div.group div.details .students td.meeting {
	width: 100px;
}

div.group div.details .students tr.student td.name {
	min-width: 150px;
	white-space: nowrap;
}

div.group.ui-state-hover div.details, div.group.ui-state-hover header {
	background-color: #f8f8f8;
}

/*div.group div.details .students tr.student:hover {
	background-color: white;
}*/

.students span.index {
	font-size: 0.8em;
}

div.group div.details .students td {
	padding: 5px;
}

div.group div.details .students td.meeting, div.group div.details .students td.meeting input {
	font-size: 0.9em;
}

div.group div.details .students tr.header input.name {
	width: 98px;
}

div.group div.details .students tr.header input.date {
	width: 70px;
}

div.group div.details .students tr.header input.weight {
	width: 24px;
}

div.group div.details .students td.meeting input.mark {
	width: 77px;
	float: right;
}

/*fixing checkbox position*/
div.group div.details .students td.meeting label {
	position: relative;
	top: 2px;
}

/*Not in group*/
div.right-col header.section-title {
	margin-left: 20px;
}

table#notingroup {
	width: 260px;
	background-color: #f2f2f2;
}

table#notingroup td  {
	padding: 3px 0;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
}

table#notingroup td.top {
	border-top: 1px solid #e0e0e0;
}

table#notingroup tr {
	width: 240px;
	z-index: 102;
}

table#notingroup tr:hover {
	background-color: #f8f8f8;
}

table#notingroup td.name {
	padding-left: 20px;
	width: 240px;
}

tr.student.ui-draggable-dragging td {
	border: 1px solid #e0e0e0;
	background-color: #f8f8f8;
	padding: 3px 0 3px 20px;
	width: 240px;
	cursor: pointer;
}

/*Add group*/
div#add-group td.param, div#edit-group td.param, div#edit-student td.param {
	width: 40%;
}

div#add-group td.value, div#edit-group td.value, div#edit-student td.value {
	width: 60%;
}


/*Datepicker*/
div#ui-datepicker-div {
	padding: 5px;
	background-color: #b13429;
	border: 1px solid #e0e0e0;
	display: none;
	color: white;
}

div#ui-datepicker-div a:link, div#ui-datepicker-div a:visited {
	color: white;
	padding: 1px;
}

div#ui-datepicker-div a:hover, div#ui-datepicker-div a:hover:visited {
	background-color: white;
	color: #212121;
	padding: 1px;
	text-decoration: none;
}

div#ui-datepicker-div a.ui-datepicker-prev {
	display: block;
	cursor: pointer;
	float: left;
	padding: 1px;
}

div#ui-datepicker-div a.ui-datepicker-next {
	display: block;
	cursor: pointer;
	float: right;
	padding: 1px;
}

div#ui-datepicker-div div.ui-datepicker-title {
	clear: both;
}




